.about {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  gap: 1rem;
}
/* CONTAINER IMAGE/HOBBIES/LANGUAGES */
.containerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
  gap: 4rem;
}
/* PHOTO */
.image {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 40vh;
  animation: 10000ms ease-in-out infinite float;
  aspect-ratio: 3/4;
}
.photo{
  position: absolute;
  clip-path: polygon(0% 0%, 0% 80%, 50% 100%, 100% 80%, 100% 0%);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.symbol {
  position: absolute;
  clip-path: polygon(0% 30%, 0% 80%, 50% 100%, 100% 80%, 100% 30%, 50% 0);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, var(--secondary-color), transparent);
  background-size: 100% 250%;
}
.emblemWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: drop-shadow(.1rem .5rem .4rem var(--tertiary-color));
}
.emblem {
  position: absolute;
  clip-path: polygon(0% 79%, 0% 80%, 50% 100%, 100% 80%, 100% 79%, 50% 99%);
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  transform: translateY(1.5rem);
  animation: 3000ms ease-in-out infinite blink;
}
.logoWrapper {
  position: absolute;
  height: 55vh;
  opacity: 0.2;
  z-index: -100;
  animation: roll 10000ms ease-in-out infinite;
  aspect-ratio: 1/1;
}
/* BLOCO SOBRE MIM */
.containerAbout {
  display: flex;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
}
.insideAbout {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  padding-left: 1rem;
}
.containerAbout h2 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: .5em;
  height: 2em;
  color: var(--primary-color);
  font-size: 3rem;
  width: 100%;
  background-image: linear-gradient(to right, var(--secondary-color), transparent 85%);
  background-size: 200% 100%;
  animation: 8s ease infinite gradient;
}
.insideAbout p {
  font-size: 1.6rem;
  padding-left: 1em;
}
.insideAbout p::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -1rem;
  width: .3rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
}
.insideAbout p::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -1rem;
  width: .3rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
  box-shadow: 0 0 .5rem .3rem var(--tertiary-color-op);
}
/* BLOCO DE LINAGUENS/HOBBIES */
.profileWrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.profileWrapper li {
  font-size: 1.5rem;
}
.profileWrapper h3 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: .5em;
  height: 2em;
  font-size: 2rem;
  color: var(--primary-color);
  width: 100%;
  background-image: linear-gradient(to right, var(--secondary-color), transparent 85%);
  background-size: 200% 100%;
  animation: 8s ease infinite gradient;
}
.languages, .hobbies {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.languages ul,
.hobbies ul {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: row;
  gap: 2rem;
  padding-left: 2rem;
}
.languages li,
.hobbies li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flags {
  height: 4rem;
  width: 4rem;
  margin-bottom: .5rem;
}
.languages ul::after, .hobbies ul::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -1rem;
  width: .3rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
}
.languages ul::before, .hobbies ul::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -1rem;
  width: .3rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
  box-shadow: 0 0 .5rem .3rem var(--tertiary-color-op);
}
/* ANIMATIONS */
@keyframes gradient {
  0% {
    background-position: 70% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 70% 50%;
  }
}
@keyframes blink {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.4;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.4;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes float {
  0% {
    transform: translateY(2rem);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(2rem);
  }
}
@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate(0deg);
  }
}