.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 75vw;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  gap: 2rem;
}

.aboutWrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}

.aboutWrapper h2 {
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 1rem;
  height: 5rem;
  color: var(--primary-color);
  font-size: 3rem;
  width: 100%;
  opacity: 1;
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  background-size: 120% 100%;
  animation: 8s ease infinite gradient;
}

.aboutWrapper p, .languagesWrapper ul {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-left: .5rem solid var(--tertiary-color-op);
  animation: 750ms ease-in-out infinite blink;
}

.languagesWrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.languagesWrapper li {
  font-size: 1.5rem;
}

.languagesWrapper h3 {
  font-size: 2rem;
  display: flex;
  margin: 0;
  margin-bottom: 1rem;
  align-items: center;
  padding-left: 1rem;
  height: 4rem;
  color: var(--primary-color);
  width: 100%;
  opacity: 1;
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  background-size: 150% 100%;
  animation: 3s ease-in-out infinite gradient;
}

.languages,
.technologies {
  width: 45%;
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes blink {
  0% {
    border-left: .5rem solid transparent;
  }

  10% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  20% {
    border-left: .5rem solid transparent;
  }

  30% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  35% {
    border-left: .5rem solid transparent;
  }

  40% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  45% {
    border-left: .5rem solid transparent;
  }

  90% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  100% {
    border-left: .5rem solid transparent;
  }
}