/* LINES CONTAINER */
.container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 500;
  filter: drop-shadow(0 0 1rem var(--tertiary-color));
}
/* TOP LINES */
.topLeft {
  position: fixed;
  z-index: 501;
  top: 0;
  left: 1rem;
  width: .2rem;
  height: 1rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveRightX;
}
.topRight {
  position: fixed;
  z-index: 501;
  top: 0;
  right: 1rem;
  width: .2rem;
  height: 1rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveLeftX;
}
/* LEFT LINES */
.leftTop {
  position: fixed;
  z-index: 501;
  top: 1rem;
  left: 0;
  width: 1rem;
  height: .2rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveDownY;
}
.leftBot {
  position: fixed;
  z-index: 501;
  bottom: 1rem;
  left: 0;
  width: 1rem;
  height: .2rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveUpY;
}
/* BOTTOM LINES */
.botLeft {
  position: fixed;
  z-index: 501;
  bottom: 0;
  left: 1rem;
  width: .2rem;
  height: 1rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveRightX;
}
.botRight {
  position: fixed;
  z-index: 501;
  bottom: 0;
  right: 1rem;
  width: .2rem;
  height: 1rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveLeftX;
}
/* RIGHT LINES */
.rightBot {
  position: fixed;
  z-index: 501;
  bottom: 1rem;
  right: 0;
  width: 1rem;
  height: .2rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveUpY;
}
.rightTop {
  position: fixed;
  z-index: 501;
  top: 1rem;
  right: 0;
  width: 1rem;
  height: .2rem;
  background: var(--tertiary-color);
  animation: 10s ease-in-out infinite moveDownY;
}
/* ANIMATIONS */
@keyframes moveDownY{
  0% {
    transform: translateY(0);
    opacity: var(--background-opacity);
  }
  50% {
    transform: translateY(55vh);
    opacity: 0;
  }
  0% {
    transform: translateY(0);
    opacity: var(--background-opacity);
  }
}
@keyframes moveUpY{
  0% {
    transform: translateY(0);
    opacity: var(--background-opacity);
  }
  50% {
    transform: translateY(-55vh);
    opacity: 0;
  }
  0% {
    transform: translateY(0);
    opacity: var(--background-opacity);
  }
}
@keyframes moveRightX{
  0% {
    transform: translateX(0);
    opacity: var(--background-opacity);
  }
  50% {
    transform: translateX(55vw);
    opacity: 0;
  }
  0% {
    transform: translateX(0);
    opacity: var(--background-opacity);
  }
}
@keyframes moveLeftX{
  0% {
    transform: translateX(0);
    opacity: var(--background-opacity);
  }
  50% {
    transform: translateX(-55vw);
    opacity: 0;
  }
  0% {
    transform: translateX(0);
    opacity: var(--background-opacity);
  }
}