:root {
  /* COLORS */
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: yellow;
  /* EFFECTS */
  --background-opacity: 0.5;
  /* FONTES */
  --background-font-size: .7rem;
}

html {
  scroll-behavior:smooth;
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-top: 10vh;
}

header {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  width: calc(100vw - 3rem);
  display: flex;
  justify-content: space-between;
  align-items: start;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
}