@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
  
:root {
  /* COLORS */
  --primary-color: #dcdcdc;
  --secondary-color: #181818;
  --tertiary-color: #2c37ff;
  /* EFFECTS */
  --background-opacity: .5;
  --primary-color-op: #dcdcdc80;
  --secondary-color-op: #18181880;
  --tertiary-color-op: #2e38ff80;
  /* FONTES */
  --background-font-size: 1rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .1s linear;
}
html {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-size: 8px;
  background-attachment: fixed;
  background-color: var(--primary-color);
  background-image: url("/assets/bgLight.svg");
}
body {
  color: var(--secondary-color);
  overflow-x: hidden;
  width: 100%;
}
h1, h2, h3, h4, h5, h6, span {
  font-weight: 700;
  font-style: italic;
}
article {
  scroll-snap-align: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.4em;
}
.dark {
  /* COLORS */
  --primary-color: #181818;
  --secondary-color: #dcdcdc;
  /* EFFECTS */
  --primary-color-op: #dcdcdc80;
  --secondary-color-op: #18181880;
  background-image: url("/assets/bgDark.svg");
}
html.dark nav {
  background-image: url("/assets/bgDark.svg");
}
html.dark nav ul li {
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  color: var(--secondary-color);
}
/* MARCADOR DE CLICK OU DE POSICIONAMENTO DA TELA */
li.mark {
  opacity: 1;
  filter: drop-shadow(.05rem .1rem .2rem var(--tertiary-color));
  animation: 3000ms ease-in-out infinite blink;
  font-size: 8rem;
}
li.mark a {
  font-size: 5rem;
  opacity: 1;
}
@media screen and (min-width: 360px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 390px) {
  html {
    font-size: 10.5px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 11px;
  }
}
@media screen and (min-width: 430px) {
  html {
    font-size: 11.5px;
  }
}
@media screen and (min-width: 760px) {
  html {
    font-size: 12px;
  }
  section {
    scroll-snap-align: start;
  }
  article {
    scroll-snap-align: none;
  }
}
@media screen and (min-width: 800px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1020px) {
  html {
    font-size: 10px;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 1280px) and (min-height: 1020px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1680px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 2048px) {
  html {
    font-size: 18px;
  }
}