/* HEADER CONTAINER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  z-index: 500;
  padding: 1rem;
}
/* INSIDE LEFT CONTAINER */
.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
/* NAME TAG */
.name {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-style: normal;
}
.name span {
  color: var(--tertiary-color);
  filter: drop-shadow(.05rem .1rem .2rem var(--tertiary-color));
  animation: 3000ms ease-in-out infinite blink;
  font-style: normal;
}
/* LOGO */
.logo {
  aspect-ratio: 1/1;
  height: 4rem;
}
/* ANIMATIONS */
@keyframes blink {
  0% {
    opacity: 0.4;
  }

  10% {
    opacity: 1;
  }

  20% {
    opacity: 0.4;
  }

  30% {
    opacity: 1;
  }

  35% {
    opacity: 0.4;
  }

  40% {
    opacity: 1;
  }

  45% {
    opacity: 0.4;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}