.skills {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90vw;
  gap: 5rem;
  flex-direction: row;
}
.content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 70%;
  width: 25%;
  padding: 0;
  gap: 2rem;
}

.content h2 {
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 1rem;
  height: 5rem;
  color: var(--primary-color);
  font-size: 2.5rem;
  width: calc(95% - 1rem);
  opacity: 1;
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  background-size: 120% 100%;
  animation: 8s ease infinite gradient;
}

.aboutWrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  padding-left: 1.5rem;
  border-left: .5rem solid var(--tertiary-color-op);
  animation: 750ms ease-in-out infinite blink;
  gap: 2rem;
}

.aboutWrapper p {
  margin: 0;
}

.aboutWrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.aboutWrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  width: 4rem;
}

.flags {
  height: 3rem;
  width: 3rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  filter: grayscale(100%);
  background-image: linear-gradient(to top, var(--secondary-color), transparent);
  background-size: 100% 250%;
  padding: .5rem;
}

.aboutWrapper li:hover {
  color: var(--tertiary-color);
}

.aboutWrapper li:hover img {
  filter: grayscale(0%);
  background-image: linear-gradient(to bottom, var(--secondary-color), transparent);
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes blink {
  0% {
    border-left: .5rem solid transparent;
  }

  10% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  20% {
    border-left: .5rem solid transparent;
  }

  30% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  35% {
    border-left: .5rem solid transparent;
  }

  40% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  45% {
    border-left: .5rem solid transparent;
  }

  90% {
    border-left: .5rem solid var(--tertiary-color-op);
  }

  100% {
    border-left: .5rem solid transparent;
  }
}

@keyframes blinkPhoto {
  0% {
    opacity: 0;
  }
  10% {
    opacity: var(--background-opacity);
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: var(--background-opacity);
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: var(--background-opacity);
  }
  45% {
    opacity: 0;
  }
  90% {
    opacity: var(--background-opacity);
  }
  100% {
    opacity: 0;
  }
}

.bar{
  width: 10rem;
  height: .2rem;
  background-color: var(--tertiary-color);
  animation: 1500ms ease-in-out infinite blinkPhoto;
}

.arrow {
  background-color: var(--tertiary-color);
  width: 2rem;
  height: 2rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
  animation: 1500ms ease-in-out infinite blinkPhoto;
}

.linkWrapper {
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-direction: column;
  font-size: 2rem;
}

.linkWrapper:hover div{
  background-color: var(--secondary-color);
}

.linkWrapper:hover {
  color: var(--tertiary-color);
}