.skills {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 75vw;
  gap: 5rem;
  flex-direction: row;
}
.content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: 70%;
  width: 45%;
  padding: 0;
  gap: 2rem;
}

.content h2 {
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 1rem;
  height: 5rem;
  color: var(--primary-color);
  font-size: 3rem;
  width: calc(100% - 1rem);
  opacity: 1;
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  background-size: 200% 100%;
  animation: 8s ease infinite gradient;
}

.aboutWrapper {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  font-size: 1.4rem;
  padding-left: 2.5rem;
  gap: 2rem;
}

.aboutWrapper::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: .5rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
}

.aboutWrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: .5rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
  box-shadow: 0 0 .5rem .3rem var(--tertiary-color-op);
}

.aboutWrapper p {
  margin: 0;
  font-size: 1.5rem;
}

.aboutWrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.aboutWrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
  width: 6rem;
}

.flags {
  height: 6rem;
  width: 6rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  filter: grayscale(100%);
  background-image: linear-gradient(to top, var(--secondary-color), transparent);
  background-size: 100% 250%;
  padding: .5rem;
}

.aboutWrapper li:hover {
  color: var(--tertiary-color);
}

.aboutWrapper li:hover img {
  filter: grayscale(0%);
  background-image: linear-gradient(to bottom, var(--secondary-color), transparent);
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 90% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.4;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.4;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.bar{
  width: 10rem;
  height: .2rem;
  background-color: var(--tertiary-color);
}

.arrow {
  background-color: var(--tertiary-color);
  width: 2rem;
  height: 2rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
}

.linkWrapper {
  position: absolute;
  bottom: 2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  flex-direction: column;
  font-size: 2rem;
}

.linkWrapper:hover {
  color: var(--tertiary-color);
}

.linkWrapper div:first-of-type {
  filter: drop-shadow(0 0 1rem var(--tertiary-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5rem;
  animation: 3000ms ease-in-out infinite blink;
}