.skills {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: start;
  height: fit-content;
  width: 100%;
  gap: 5rem;
  flex-direction: column;
  padding: 8rem 0;
}

/*  */
.content {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  height: fit-content;
  width: 90%;
  gap: 2rem;
}
.content h2 {
  display: flex;
  margin: 0;
  align-items: center;
  padding-left: 1em;
  height: 2em;
  color: var(--primary-color);
  font-size: 4rem;
  width: 100%;
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  background-size: 120% 100%;
  animation: 8s ease infinite gradient;
}

/* ABOUT CONTENT */
.aboutWrapper {
  display: flex;
  position: relative;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding-left: 2.5rem;
  gap: 3rem;
}
.aboutWrapper::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: .5rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
}
.aboutWrapper::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: .5rem;
  height: 100%;
  background-color: var(--tertiary-color);
  margin-top: 1rem;
  animation: 3000ms ease-in-out infinite blink;
  box-shadow: 0 0 .5rem .3rem var(--tertiary-color-op);
}
.aboutWrapper p {
  margin: 0;
  font-size: 2.5rem;
}
.aboutWrapper ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.aboutWrapper li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  width: 9rem;
}
.flags {
  height: 8rem;
  width: 8rem;
  margin-bottom: .5rem;
  border-radius: .5rem;
  filter: grayscale(100%);
  background-image: linear-gradient(to top, var(--secondary-color), transparent);
  background-size: 100% 250%;
  padding: .5rem;
}
.aboutWrapper li:hover {
  color: var(--tertiary-color);
}
.aboutWrapper li:hover img {
  filter: grayscale(0%);
  background-image: linear-gradient(to bottom, var(--secondary-color), transparent);
}



/* LINK FOOTER */
.bar {
  width: 100%;
  height: .2rem;
  background-color: var(--tertiary-color);
  animation: 3000ms ease-in-out infinite blink;
}
.arrow {
  background-color: var(--tertiary-color);
  width: 1.5rem;
  height: 1.5rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 50%);
  animation: 3000ms ease-in-out infinite blink;
}
.linkWrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: .5rem;
  flex-direction: column;
  font-size: 1.5rem;
}
.linkWrapper div:first-of-type {
  filter: drop-shadow(0 0 1rem var(--tertiary-color));
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  width: 90%;
  gap: .5rem;
  animation: 3000ms ease-in-out infinite blink;
}
.linkWrapper:hover {
  color: var(--tertiary-color);
}

/* ANIMATIONS */
@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 90% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}
@keyframes blink {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.4;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.4;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

/* MEDIA QUERYS */
/* @media screen and (min-width: 360px) {
}
@media screen and (min-width: 760px) {
}
@media screen and (min-width: 1020px) {
  .linkWrapper {
    right: 50%;
    transform: translateX(50%);
    align-items: center;
  }
  .linkWrapper div:first-of-type {
    align-items: center;
  }
} */