.navmenu {
  display: none;
}

.navmenu ul{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: end;
  justify-content: center;
}

.link {
  display: flex;
  cursor: pointer;
  justify-content: end;
  align-items: center;
  transition: all .3s;
  font-size: 1rem;
  gap: .5rem;
  width: 12rem;
  height: 1.5rem;
  opacity: var(--background-opacity);
  text-transform: uppercase;
}

.link a {
  text-align: end;
  display: block;
  width: 18.5rem;
  transition: all .1s;
}

.link::after {
  content: '';
  display: block;
  width: .3rem;
  height: 100%;
  background: var(--secondary-color);
}
.link::before {
  content: '';
  display: block;
  width: .3rem;
  height: 100%;
  background: transparent
}

/* HOVER DO MENU */
.link:hover a {
  text-align: center;
}

.link:hover {
  height: 4rem;
  color: var(--primary-color);
  font-size: 2rem;
  width: 17rem;
  opacity: 1;
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  background-size: 150% 100%;
  animation: 3s ease-in-out infinite gradient;
}

.link:hover::after {
  background: var(--tertiary-color);
  width: .5rem;
  margin-left: 0;
  transform: translateX(-17.5rem);
  animation: 3000ms ease-in-out infinite blink;
}

.link:hover::before {
  width: .5rem;
  margin-left: 0;
  transform: translateX(-250%);
  animation: 3000ms ease-in-out infinite blink;
  box-shadow: 0 0 1.5rem .5rem var(--tertiary-color-op);
}
/* MARCADOR DE CLICK OU DE POSICIONAMENTO DA TELA */
.mark {
  height: 2em;
  color: var(--primary-color);
  font-size: 2rem;
  width: 17rem;
  opacity: 1;
  background-image: linear-gradient(to right, var(--secondary-color), transparent);
  background-size: 150% 100%;
  animation: 3s ease-in-out infinite gradient;
}

.mark a {
  text-align: center;
}

.mark::after {
  background: var(--tertiary-color);
  width: .5rem;
  margin-left: 0;
  transform: translateX(-17.5rem);
  animation: 3000ms ease-in-out infinite blink;
}

.mark::before {
  width: .5rem;
  margin-left: 0;
  transform: translateX(-250%);
  animation: 3000ms ease-in-out infinite blink;
  box-shadow: 0 0 1.5rem .5rem var(--tertiary-color-op);
}

@keyframes blink {
  0% {
    opacity: 0.4;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 0.4;
  }
  40% {
    opacity: 1;
  }
  45% {
    opacity: 0.4;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

@keyframes gradient {
  0% {
    background-position: 100% 50%;
  }

  50% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

/* MEDIA QUERYS */
@media screen and (min-width: 760px) {
  .navmenu {
    display: flex;
  }
}